:root {
    --background-footer: #0a0413;
    --mail-color:#77B5FE
}

#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: "Name Link Contact";

    padding: 10px 10px 25px 10px;
    margin-top: 25px;

    background-color: var(--background-footer);
}

#footer .Name{
    display: grid;
    grid-area: "Name";
    justify-content: center;
}

#footer .Link{
    display: grid;
    grid-area: "Link";
    justify-content: center;
}

#footer .Link h3{
    text-align: center;
}

#footer .Contact{
    display: grid;
    grid-area: "Contact";
    justify-content: center;
}

#footer a {
    color:#FFF;
}

#footer a:hover {
    color: var(--golden);
}

.mail {
    color:var(--mail-color)
}

.logo-footer{
    float:right;

    height: 80px;
    width: 75px;
}

#footer svg{
    margin: 5px;
}

#footer p{
    margin: 0 15px 0 25px;

    color: #FFF;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 0;
    line-height: 30px;
}

#footer h3 {
    margin: 15px;
    padding: 0 25px;

    font-family: Segment,'Courier New', Courier, monospace, serif;
    font-size: 35px;
    
    color:rgba(244,207,72,255);
}

@media screen and (max-width:1100px) {
    #footer{
        display: block;
    }
}