/* bandeau */

@import url(bandeau.css);
@import url(footer.css);

/* base */

:root {
    --background-color: #100720;
}


body {
    margin: 0;
    background-color: var(--background-color);
}

/* titre */

.titre {
    display: flex;

    padding: 150px 0 50px 0;

    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-ordi {
    width: 200px;
    height: 200px;

}

.main-title {
    padding: 15px;
    margin: 0;

    font-family: Segment,'Courier New', Courier, monospace, serif;
    font-size: 120px;

    color:rgba(244,207,72,255);
}

.img-binaire {
    width: 200px;
    height: 200px;

    cursor: pointer;
}

/* Texte */

.electronique-t, .informatique-t, .info-emb-t{
    display: flex;

    align-items:center;

    padding: 25px 15px;

}

.electronique-title, .informatique-title, .info-emb-title {
    margin: 0;
    padding: 0 25px;

    font-family: Segment,'Courier New', Courier, monospace, serif;
    font-size: 50px;
    
    color:rgba(244,207,72,255);

}

.elect-1, .info-1, .info-emb-1 {
    padding: 0 25px;
    height: 64px;
    width: 64px;
}

.elect-2, .info-2, .info-emb-2 {
    padding: 0 25px;
    height: 64px;
    width: 64px;
}

.electronique-main, .informatique-main, .info-emb-main {
    display: flex;

    align-items: center;

    margin: 0 25px;

}

.electronique-texte, .informatique-texte, .info-emb-texte {
    margin: 0 15px 0 25px;

    color: #FFF;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    text-indent: 2.5em;
}

.circuit, .Coding, .microchip {
    width: 500px;
    height: 500px;
}

a, a:active {
    color:rgba(244,207,72,255);
}

/* police personnalisé */

@font-face {
    font-family: Segment;
    src: url(../font/Seven\ Segment.ttf) format(truetype);
}

/* responsive */

@media only screen and (max-width:1600px) {
    .main-title {
       font-size: 80px;
    }  
}

@media only screen and (max-width:1000px){
    .electronique-main, .informatique-main, .info-emb-main {
        flex-direction: column;
    }

    .electronique-texte, .informatique-texte, .info-emb-texte {
        font-size: 35px;
        line-height: 40px;
    }
}

/* Js */

.matrice{
    background-image: url(../img/matrice.gif);
    background-repeat:repeat;
    transition: 1s;
}
